/*.How To Use This Effect? 
 * 1- Add {property}-active-{effect} to parent element
    - text-active-success
 * 2- Add active class to any child element
*/

@each $color,
$value in $theme-colors {

  // Active Text
  .text-active-#{$color} {
    .active {
      color: $value !important;
    }
  }

  // Active Background
  .bg-active-#{$color} {
    .active {
      background: $value !important;
    }
  }
}

// Active Shadow
@each $shadow,
$value in $box-shadow-map {
  .shadow-active-#{$shadow} {
    .active {
      box-shadow: $value !important;
    }
  }
}

// Active Opacity
@for $i from 0 to 5 {
  .opacity-active-#{calc($i * 25)} {
    .active {
      opacity: calc(calc($i * 25) / 100) !important;
    }
  }
}